/* Building blocks and basic styles */
@font-face 
{
    font-family: AR BONNIE;
    src: url(../assets/fonts/ARBONNIE.ttf);
}
@font-face 
{
    font-family: Avenir Light;
    src: url(../assets/fonts/Avenir-Light-07.ttf);
}
body
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    background-color:black;
}
a:link
{
    text-decoration: none;
    color:white;
}
a:visited
{
    color: white;
}
#stopka /*footer in polish*/
{
    width: 100%;
    height: auto;
    margin:0 auto;
    text-align: center;
    background-color: black;
    color:white;
    padding: 0px;
    bottom: 10px;
    overflow: auto;
    font-family:  Avenir Light;
    
}
h1
{
    color:white;
    font-family: AR BONNIE;
    text-align: center;
}
p
{
    color:white;
    font-family: Avenir Light;
}
.bigcontainer /* building block of the whole site */
{
    background-repeat:no-repeat;
    background-size: cover;
    height:900px;
    width:100%;
    display: block;
    margin: 0px;
    padding: 0px;
}









/* Navigation of the site*/
nav
{
    z-index: 1;
}
.logo
{
    margin: 0 auto;
    height:100%;
    width:27%;
    float: left;
    color: #625214;
}
img.logo
{
    height:80%;
    margin: 2%;
    margin-right: 0%;
}
p.logo
{
    width: 60%;
    margin: 2%;
    margin-left: 0%;
    font-size: 3em;
    font-family: AR BONNIE;
}
#menu
{
    background-color:black;
    margin: 0 auto;
    float: right;
    font-family: AR BONNIE;
    padding-top: -4%;
    margin-top: 0;
    width:100%;
    height:67px;
    position: sticky;
    top:0;
    
}
li.menu
{
    float: right;
    font-size:2.5em;
    margin:0 auto;
    margin-top: -1.1%;
    color: white;
    width:22.5%;
    height:100%;
    padding: 0.6%;
    text-align: center;
    background-color:black;
    transition: all .7s ease;
    
}
li:hover
{
    width:22.5%;
    background-color: #625214;
    transition: all .3s ease;
}
ul
{
    list-style: none;
}








/* The "About me" section of the website */

#about /* Piece of text about author */
{
    text-align: justify;
    text-decoration: none;
    float: left;
    color: white;
    font-size: 1em;
    font-family: sans-serif;
    height: 420px;
    width:500px;
    padding-left:5%;
    padding-top: 11%;
    padding-bottom:17%;
    padding-right: 5%;
}
#portrait /* Photo of the author */
{
    height: 420px;
    width:300px;
    float: left;
    margin-left: 11%;
    padding-right: 5%;
    padding-left:5%;
    padding-top: 11%;
    padding-bottom:17%;
}






/* The "Portfolio" section of the main page of the website */

#port  /* style of div */
{
    font-family: sans-serif;
    height:900px;
    text-align: center;
    color: white;
}
.tytul
{
    margin-left: 19%;
    width:62%;
    height: 3%;
}
p.tytul
{
    margin: 0 auto;
    float: left;
    width: 33%;
}
.containerPortfolio
{
    position: relative;
    margin: 0 auto;
    margin-left: 19%;
    margin-right: 19%;
}
.imgport
{
    float: left;
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin: 0.1%;
    z-index: -1;
    transition: all .5s ease;
}
img.imgport   /* images in portfolio */
{
    display: block;
    width: 100%;
    height: auto;
    object-fit: inherit;
    transition: all .5s ease;
}
img.imgport:hover  /* on hover color */
{
    overflow: auto;
    transition: all .5s ease;
}
.overlayDig
{
    opacity: 1;
    float: left;
    position: absolute;
    bottom: -421px;
    left: 1px;
    right: 0px;
    background-color:white;
    overflow: hidden;
    width: 300px;
    height:0px;
    transition: .5s ease;
}
.imgport:hover .overlayDig
{
    height: 70px;
}
.overlayGame
{
    opacity: 1;
    position: absolute;
    bottom: -421px;
    left: 303px;
    right: 0px;
    background-color:white;
    overflow: hidden;
    width: 300px;
    height:0px;
    transition: .5s ease;
}
.imgport:hover .overlayGame
{
    height: 70px;
}
.overlayTrad
{
    opacity: 1;
    position: absolute;
    bottom: -421px;
    left: 604.5px;
    right: 0px;
    background-color:white;
    overflow: hidden;
    width: 300px;
    height:0px;
    transition: .5s ease;
}
.imgport:hover .overlayTrad
{
    height: 70px;
}
.overlay
{
    opacity: 1;
    width: 100%;
    color: white;
    background-color: black;
}




/* The "Contact" section of the website */
#cont
{
    margin: 0 auto;
}
.contact
{   
    width: 66% ;
    margin: 10%;
    margin-left: 17%;
    margin-right: 17%;
    color: white;
    background-color: gray;
    margin-top: 0%;
}





/*---------------------------------------- classes for background pictures */
.artA
{
    background-image:url("../assets/images/portfolio/horizontals/mountainscape_tower1_by_yamiboshi-db449lr.jpg");
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -23%;
    background-position-x: -6%;
    padding: 0px;
    margin:0px;
}
.artB
{
    background-image:url("../assets/images/portfolio/horizontals/mountainscape_tower1_by_yamiboshi-db449lr.jpg");
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 100%;
    background-position-x: -6%;
    padding: 0px;
    margin:0px;
}



/* The grid: Four equal columns that floats next to each other */
.columnVertical {
    float: left;
    width: 30%;
    height: auto;
    margin: 1%;
    transition: .5s ease;
}

/* Style the images inside the grid */
.columnVertical img {
    opacity: 0.8; 
    cursor: pointer; 
    object-fit: contain;
    width: 100%;
    transition: .5s ease;
}

.columnVertical img:hover {
    opacity: 1;
    transition: .5s ease;
}

/* Clear floats after the columns */
.row {
    float: left;
    width: 80%;
    object-fit: contain;
    margin-left: 11%;
    margin-right: 9%;
    padding: 1%;
}



.gameText
{
    width: 100%;
    
}
.containerGame
{
    float: left;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 10%;
}
img.game
{
    opacity: 0.5;
    background-color: white;
    float: left;
    object-fit: contain;
    width: 40%;
    height: auto;
    transition: .2s ease;
}
.game img:hover
{
    opacity: 1;
    transition: .2s ease;
}
